.title {
    color: white;
}
.toolbox {
    background-color: rgb(63,189,237);
}
.first {
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.second {
    width: 100%;
    position: absolute;
    bottom: 37px;
}

.input {
    padding-bottom: 80px;
}

.panel {
    background-color: rgb(2,116,169); 
    color: white; 
    margin: 1%;
    position: relative;
    top: 1px;
}
.button1 {
    width: 99%;
    padding: 0;
    background-color: rgb(2,116,169);
    color: white;
    position: relative;
    top: 1px;
    right: 1px;
    left: 1px;
}
.button2 {
    width: 100%;
    padding: 0;
    background-color: rgb(2,116,169);
    color: white;
    font-size: smaller;
}
.button3 {
    background-color: #7434eb;
    width: 100%;
    color: white;
    margin: 1%;
}
.center-div
{
     margin: 0 auto;
     width: 100px; 
}